@model School.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<div class="dl-horizontal">
    <h4>Courses</h4>
    <dl class="row">
        @foreach (var item in Model.Courses)
        {
            <dd class="row">
              <p>@item.Name : @item.Information</p>
                <ul>
                   @foreach (var iTEM in item.Assignments)
                    {
                    <li>
                        @iTEM.Name
                    </li>

                    }

                    
                </ul>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
