@model School.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

    </dl>
</div>
<div>@Html.ActionLink("Back to List", "Index")</div>
<p>
    @Html.ActionLink("Add Student", "AllStudents", new { id = Model.ID }) |
    @Html.ActionLink("Add Teacher", "AllTeachers", new { id = Model.ID }) |
    @Html.ActionLink("Add Assignment", "AllAssignments", new { id = Model.ID })
</p>

<div class="dl-horizontal">
    <h4>Students</h4>
    <dl class="row">
        @foreach (var item in Model.Students)
        {
            <dd class="row">
                @item.FirstName - @item.LastName
                @Html.ActionLink("Remove", "RemoveStudent", new { id = Model.ID, sId = item.ID })
            </dd>
        }
    </dl>
</div>

<div class="dl-horizontal">
    <h4>Teachers</h4>
    <dl class="row">
        @foreach (var item in Model.Teachers)
        {
            <dd class="row">
                @item.FirstName - @item.LastName
                @Html.ActionLink("Remove", "RemoveTeachers", new { id = Model.ID, tId = item.ID })
            </dd>
        }
    </dl>
</div>

<div class="row">
    <h4>Assignments</h4>
    <dl class="row">
        @foreach (var item in Model.Assignments)
        {
            <dd class="row">
                @item.Name - @item.Information
                @Html.ActionLink("Remove", "RemoveAssignment", new { id = Model.ID, aId = item.ID })
            </dd>
        }
    </dl>
</div>

