@model IEnumerable<School.Models.Student>

@{
    ViewBag.Title = "StudentToCourses";
}

<h2>StudentToCourses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
       
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Add", "StudentToCourses", new { sId = item.ID, id = ViewBag.cId })
        </td>

    </tr>
}

</table>
