@model IEnumerable<School.Models.Teacher>

@{
    ViewBag.Title = "TeachertToCourses";
}

<h2>TeachertToCourses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Add", "TeachertToCourses", new { tId = item.ID, id = ViewBag.cId })
        </td>
    </tr>
}

</table>
